{% extends 'base.html.twig' %}

{% block body %}

{% block stylesheets %}
<link href="{{ asset('css/home.css') }}" rel="stylesheet"/>

{% endblock %}

<div class="bg-image w-100" style="
    background-image: url('https://images.unsplash.com/photo-1665761125867-2847a4e2600e?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2NjcwNTI5OA&ixlib=rb-1.2.1&q=80&w=1080');
    object-fit: cover;
    background-repeat: no-repeat;" >

  <div class="container pb-5">
    <div class="row py-5 align-items-center">
      <div class="col-lg-6">
        <h5 class="display-4 mb-4 font-weight-bold text-white ">LE BON DEAL</h5>
        <div class="d-flex star-rating mb-5"> <a href=""><i class="lni lni-star-filled"></i></a> <a href=""><i class="lni lni-star-filled"></i></a> <a href=""><i class="lni lni-star-filled"></i></a> <a href=""><i class="lni lni-star"></i></a> <a href=""><i class="lni lni-star"></i></a> </div>
        <p class="h5 aa mb-4 pb-3 text-white-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nunc nisi, suscipit id dapibus sit amet, lacinia nec lorem. Aenean eget urna rutrum suscipit.</p>
        <h3 class="text-white mb-5">5.20$</h3>
        <div class="d-flex">
        <a href="{{ path("allProduct") }}" class="btn btn-lg btn-danger mr-2"><i class="lni lni-apple mr-2"></i> All Products</a>
        </div>
      </div>
      <div class="col-lg-6 text-lg-right text-center mt-5 mt-lg-0">
       
      </div>
    </div>
  </div>
</div>

<form class="container" method="GET" action="{{path('app_searchbar')}}">
  <div class="input-group mb-3">
    <input type="text" name="offer" class="form-control" placeholder="search" aria-label="" aria-describedby="basic-addon1">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
  </div>
</form>



<div class="container text-center mt-5">
<h2 class="mb-5">Explore Categories</h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    {% for tag in tag %}

    <div class="col">
      <a href="#">
        {{ tag.name }}
      </a>
    </div>
    {% endfor %}

  </div>
</div>
<div class="container text-center mt-5">
  <h2 class="mb-5 text-center">Annonces en vedette</h2>
  <div class="row "> 
  {% for offer in offer|slice(0, 3) %}
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
          <img src="https://images.unsplash.com/photo-1665761125867-2847a4e2600e?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2NjcwNTI5OA&ixlib=rb-1.2.1&q=80&w=1080" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ offer.title }}</h5>
            <p class="card-text"> {{ offer.price ?? "pas là" }}€</p>
            <a href="{{ path("app_singleProduct",{idOffer:offer.id}) }}" class="btn btn-primary">Go Shop</a>
          </div>
        </div>
    </div>
      {% endfor %}
</div>

<div class="jumbotron mt-5">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

{% endblock %}